{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>.content-wrap {background-image: url("../static/images/GOS1.jpg");}</style>
{% endblock %}

{% block header %}{% endblock %}

{% block app_content %}
	<div class='container-fluid' style="padding: 30px">
        <div class="row">
			<div class="col-md-2 col-lg-1"></div>
			<div class="col col-md-8 col-lg-10">
				<div class="form-content card">
					<div class="row">
						<div class="col col-md-8">
							<H1>About Us</H1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-6">
							<p>We are a couple of regular ole folks on a mission to save the world through hiking the white mountain's high peaks. We started keeping track of the peaks we had summited in 2015. We had a lot of fun ticking off mountains on the list and figuring out creative a challenging ways to link them up. We also thought it would be fun to have and app to relive and visualize our experiences. We felt it would be fun to have an interactive tool to help plan our next adventure and that is what inspired us to build NH High Peaks! </p>
							<p>- Jed and Lauren </p>
						</div>
					<div class="col-md-12 col-lg-6">
		        		<img src="static/images/isolation_selfie.jpg" class="img-fluid"/>
		    		</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}