{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
	<div class="container-fluid">
		<div class="col col-md-2">
		</div>
		<div class="col col-md-8">
		<H1>About Us</H1>
			<p>We are a couple of regular ole folks on a mission to save the world through the use of hiking high peaks. We started keeping track of the peaks we had summited in 2015. We had a lot of fun ticking of mountains on the list and figuring out creative a challenging ways to link the up. We also thought if would be fun to have and app to relive and visualize our experiences. We also thought it would be fun to have an interactive too to help plan our next adventure and that is what inspired us to build NH High Peaks! </p>
			<p>- Jed and Lauren </p>
			<br>
	        <img src="static/images/isolation_selfie.jpg" class="img-responsive"/>
	        <br>
	        <br>
	    </div>

	</div>
{% endblock %}