<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Jed and Lauren">
  <meta name="descrition" content="Use your strava data to keep track of the 4000 footers you've hiked or ran. View the map of your summit tags, and peak list.">
  <meta name="keywords" content="NHHighPeaks, NH high peaks, New Hampshire high peaks, NH 4000 footers, New Hampshire 4000 footers, high peak list, white mountains, white mountain list, white mountains map, checklist, grid, the grid, strava, peak tracker, Mt Washington, Washington, Lafayette, Cannon, Wildcat, trail run, peak bagging">
  <link rel="icon" type="image/png" href="https://img.icons8.com/windows/32/000000/mountain--v3.png" sizes="32x32">
  <title>{% block title %}{% if title %}{{ title }} - NH High Peaks{% else %}Nh High Peaks{% endif %}{% endblock %}</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">
{% endblock %}
</head>

{% block body %}
  <body>
    <div id="page-container">
        {% block navbar %}
          {% if request.path == "/welcome" %} 
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
              <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">NH High Peaks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{{ url_for('map') }}">Map</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#screenshots">Screenshots</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          {% else %}   
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="{{ url_for('welcome') }}">NH High Peaks</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            {% if current_user.is_anonymous %}
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url_for('login') }}">Login</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url_for('map') }}">Map</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url_for('contactus') }}">Contact Us</a>
                              </li>
                            {% else %}
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger"href="{{ url_for('index') }}">List</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url_for('map') }}">Map</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url_for('manual_entry') }}">Manual Entry</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url_for('contactus') }}">Contact Us</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url_for('settings') }}">Settings</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url_for('logout') }}">Logout</a>
                              </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
          {% endif %}
        {% endblock %} 

        {% block content %}
            <div class="content-wrap">
                {% block header %}
                  <header></header>
                {% endblock %}
                {% if current_user.is_authenticated %}
                    {% with tasks = current_user.get_tasks_in_progress() %}
                    {% if tasks %}
                        {% for task in tasks %}
                            <script>console.log({{task.get_progress()}})</script>
                            <div class="alert alert-success" role="alert">
                                    {{ task.description }}
                                <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                {% endif %}
                <!--application content needs to be provided in the app_content block-->
                {% block app_content %}{% endblock %}
            </div>
        {% endblock %}
        
        {% block footer %}
              <footer id="footer" class="bg-dark">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2" id="strava-image">
                      {% block footer_image %}
                        <a href="https://www.strava.com"><img class="img-fluid" id="strava-comp-image" src="static/images/strava api logos/compatible with strava/cptblWith_strava_white/api_logo_cptblWith_strava_horiz_white.png"></a>
                      {% endblock %}
                    </div>
                  </div>
                </div>
              </footer>
        {% endblock %}


        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Plugin JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <!-- Custom JavaScript for this theme -->
        <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>
<!--        <script src="{{ url_for('static', filename='js/test.js') }}"></script>-->
        <script>
        function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress);
            }

        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            set_task_progress(notifications[i].data.task_id, notifications[i].data.progress);
                            since = notifications[i].timestamp;
                            try {
                            console.log('progress!', notifications[i].data.progress)
                            } catch (error) {
                                console.error(error);
                            }
                        }
                    }
                );
            }, 1000);
        });
        (jQuery);

        </script>

    </div>
  </body>
{% endblock %}

</html>
