{% extends "base.html" %}

{% block app_content %}




    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1 class="display-1 text-center">{{n_finished}} of 48 Peaks Completed</h1>
        </div>

        <br></br>

        <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2> Finished </h2>
                    {% for mt in finished.keys() %}
                    <ol>{{mt.name}}</ol>
                    <ul>
                    	{% for act in finished[mt] %}
                    	    <li><a href="{{ act.url }}"  target="_blank">{{act.name}}</a></li>
                         {%endfor%}
                    </ul>
                    {% endfor %}
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2> Not finished </h2>
                	{% for u in unfinished %}
                		<li>{{u.name}}</li>
                	{% endfor %}
            </div>
        </div>
    </div>

{% endblock %}