{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}


{% block app_content %}
    <!--<div style="background-image: url('static/images/GOS1.jpg');">-->
    <div class="fixed-bg">
        <div class="content">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-12 col-lg-10 card card-body bg-light">
                    <br>
                    <h1 class="text-center">{{n_finished}} of 48 Peaks Completed</h1>
                    <br>
                </div>
            </div>
            <br></br>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="card card-body bg-light">
                        <h3> Finished </h3>
                        <br>
                        {% for mt in finished.keys() %}
                            <div>
                                <h4>{{mt.name}}</h4>
                                <ul>
                            	{% for act in finished[mt] %}
                            	    <li><a href="{{ act.url }}"  target="_blank"  style="color:#000000;">{{act.name}}</a></li>
                                {%endfor%}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <div class='card card-body bg-light'>
                        <h3> Not finished </h3>
                        <br>
                    	{% for u in unfinished %}
                    		<h6>{{u.name}}</h6>
                    	{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}