{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>.content-wrap {background-image: url("../static/images/Washington2.jpg");}</style>
{% endblock %}

{% block header %}{% endblock %}

{% block app_content %}
    <div class="container-fluid" style="padding: 10vh;">
        <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="form-content card" style="padding: 40px;">
                        <h1>Sign In</h1>
                        <br>
                        <form action="" method=post>
                            <p style="margin-bottom: 4px;">Username</p>
                            <input class="textfield" type="text" id="username" name="username">
                            <p style="margin-bottom: 4px; margin-top: 20px">Password</p>
                            <input class="textfield" type="password" id="password" name="password">
                            <p>
                                <input type="checkbox" id="remember_me" name="remember_me" style="margin-top: 12px">
                                <label for="remember_me">Remember Me</label>
                            </p>
                            <button type="submit" name="submit" class="btn btn-dark" value="sign_in">Sign In</button>
                        </form>
                        <br>
                        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
                        <p>Forgot Your Password? <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

