{% extends "base.html" %}

{% block app_content %}
<h1> {{ act.name }} </h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            Mountain<br>
            {% for mt in act.mountains %}
                {{ mt.name }}
            {% endfor %}
        </p>
        <p>
            Date<br>
            {{ act.date[0:4] + act.date[5:7] + act.date[8:10] }}
        </p>
        <p>
            Description<br>
            {{ act.description }}
        </p>
            <p>
            {{ form.edit }}
            {{ form.delete }}
            </p>
        </form>

{% endblock %} 