{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>.content-wrap {background-image: url("../static/images/GOS1.jpg");}</style>  
{% endblock %}

{% block header %}{% endblock %}

{% block app_content %}
    <div class="container-fluid" style="padding: 10vh;">
        <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="form-content card" style="padding: 40px;">
                        <h1>{{ act.name }}</h1>
                        <br>
                            <p style="margin-bottom: 4px; margin-top: 20px"><b>Mountain:</b></p>
                            {% for mt in act.mountains %}
                                {{ mt.name }}
                            {% endfor %}
                            <p style="margin-bottom: 4px; margin-top: 20px"><b>Date:</b></p>
                            <p>{{ act.date }}
                            <p style="margin-bottom: 4px; margin-top: 20px"><b>Description:</b></p>
                            <p>{{ act.description }}</p>
                        <form action="" method=post>
                            <p>
                                <button type="submit" name="submit" class="btn btn-dark" value="edit" style="margin-top: 20px;">Edit Activity</button>
                                <button type="submit" name="submit" class="btn btn-dark" value="delete" style="margin-top: 20px;">Delete Activity</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

<!-- redo footer to update strava logo file path -->
{% block footer_image %}
    <a href="https://www.strava.com"><img class="img-fluid" id="strava-comp-image" src="../static/images/strava api logos/compatible with strava/cptblWith_strava_white/api_logo_cptblWith_strava_horiz_white.png" alt="Strava"></a>
{% endblock %}
