{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block app_content %}
    <div>
        <div class="container-fluid" style="padding: 10vh;">
            <div class="row">
                <div class="col-sm-1 col-md-2 col-lg-3"></div>
                    <div class="col-10 col-md-8 col-lg-6">
                        <div class="form-content card" style="padding: 40px;">
                            <h1>Register</h1>
                            <br>
                            <form action="" method=post>
                                <p style="margin-bottom: 4px;">Username</p>
                                <input class="textfield" type="text" id="username" name="username" style="margin-bottom: 20px;">
                                <p style="margin-bottom: 4px;">Email</p>
                                <input class="textfield" type="email" id="email" name="email" style="margin-bottom: 20px;">
                                <p style="margin-bottom: 4px;">Password</p>
                                <input class="textfield" type="password" id="password" name="password" style="margin-bottom: 20px;">
                                <p style="margin-bottom: 4px;">Repeat Password</p>
                                <input class="textfield" type="password" id="repeat_password" name="repeat_password" style="margin-bottom: 20px;">
                                <p><button type="submit" name="submit" class="btn btn-dark" value="register">Register</button></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}