{% extends "base.html" %}

<style>
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #04AA6D;
}
</style>

{% block head %}
    {{ super() }}
    <style>.content-wrap {background-image: url("../static/images/Cardigan1.jpg");}</style>
{% endblock %}

{% block header %}{% endblock %}
{% block app_content %}
<style>
    #myProgress {
      width: 100%;
      background-color: #ddd;
    }

    #myBar {
      width: 1%;
      height: 30px;
      background-color: #04AA6D;
    }
    </style>
    <body>


    <div id="myProgress">
      <div id="myBar"></div>
    </div>

    <br>
    </body>
    </div>

<!--    <script>-->
<!--    var i = 0;-->
<!--    function move() {-->
<!--      if (i == 0) {-->
<!--        i = 1;-->
<!--        var elem = document.getElementById("myBar");-->
<!--        var width = 1;-->
<!--        var id = setInterval(frame, 10);-->
<!--        function frame() {-->
<!--          if (width >= 100) {-->
<!--            clearInterval(id);-->
<!--            i = 0;-->
<!--          } else {-->
<!--            width++;-->
<!--            elem.style.width = width + "%";-->
<!--          }-->
<!--        }-->
<!--      }-->
<!--    }-->
<!--    </script>-->

{% block scripts %}
    {{ super() }}

    <script>
    function set_task_progress(task_id, progress) {
        var elem = document.getElementById("myBar");
        elem.style.width = progress + "%";
        }

        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('notifications') }}').done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            set_task_progress(notifications[i].id, notifications[i].progress);
                            console.log(notifications[i].id, notifications[i].progress)
                            since = notifications[i].timestamp;
                            try {
                            } catch (error) {
                                console.error(error);
                            }
                            if (typeof(notifications[i].data) != undefined && notifications[i].progress == 100) {
                                window.location.href = "index";
                            }
                        }
                    }
                )
            }, 1000);
        });
        (jQuery);

</script>
    {% endblock %}



{% endblock %}











