{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

<div class="row">
	<div class="col text-center">
		<div>
			<h1>Welcome to NH High Peaks!</h1>
		</div>
		<br>
		<div>
			{{ wtf.quick_form(form) }}
		</div>
	</div>
</div>

<div class="row">
    <div class="col text-center">
    	<br><br>
		<h2>How does it work?</h2>
		<p>Create account</p>
		<p>Connect with Strava</p>
		<p>Bag some peaks</p>
		<p>View your adventures</p>
	</div>
</div>

{% endblock %}