{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/welcome.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  <header class="bg-secondary text-white">
    <div class="container-fluid text-center">
      <h1>Welcome to NH High Peaks!</h1>
      <a class="btn btn-light" href="{{ url_for('login') }}" role="button">Sign In</a>
      <a class="btn btn-light" href="{{ url_for('register') }}" role="button">Create Account</a>
    </div>
  </header>
{% endblock %}

{% block app_content %}
  <section class="fixed-bg1" id="static_image"></section>

  <section id="about" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About NH High Peaks</h2>
          <p class="lead">NH High Peaks was inspired by hikers, trail runners, and mountain enthusiasts. The website was built to help you keep track of the NH 4000 footers you have summited, view the routes you took to get there, and plan your next adventure. To enjoy these features, you will have to do the following:</p>
          <ul>
            <li><a href="#" class="text-dark">Create an account</a></li>
            <li>Link your account to Strava</li>
            <li>Go out and bag some peaks</li>
            <li>View your adventures</li>
          </ul>
          <a href="{{ url_for('aboutus') }}">Learn more about us</a>
        </div>
      </div>
    </div>
  </section>

  <section class="fixed-bg2" id="static_image"></section>

  <section id="screenshots">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Example Screenshots</h2>
          <br>
          <div class="row">
            <div class="col col-md-6">
              <h5>Interactive Map</h5>
              <img src="static/images/map_screenshot.png" class="img-fluid w-75"/>
            </div>        
            <div class="col">
              <h5>Peak Tick List</h5>
              <img src="static/images/list_screenshot.png" class="img-fluid"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fixed-bg3" id="static_image"></section>

  <section id="contact" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">We want to here from you! Let us know what you think of the website. How can we make it better? Is there something wrong with it? Want to tell us a fun hiking story? Click the link below and tell us!</p>
          <a class="btn btn-dark" href="{{ url_for('contactus') }}" role="button">Contact Us</a>
        </div>
      </div>
    </div>
  </section>

  <section class="fixed-bg4" id="static_image"></section>

{% endblock %}







